
</head>
<body>
    <main>
        <h1>Home Detail Page<found class=""></found></h1>
        <div>
            
                <h3 class="text-xl font-semibold text-gray-800 mb-2"><%= home.hname %></h3>
                <div class="text-sm text-gray-600">
                  <strong>Rating:</strong> <%= home.rating %>
                </div>
                <div class="text-sm text-gray-600">
                  <strong>Price:</strong> <%= home.price %>
                </div>
                <div class="text-sm text-gray-600">
                  <strong>Location:</strong> <%= home.location %>
                </div>
                
                <form action="/fav-list" method="post" class="mt-2">
                  <input type="hidden" name="id" value="<%= home.id %>">
                  <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-500 transition duration-300">
                    Add to Favourites
                  </button>
                </form>
               
        </div>
    
    </main>
</body>
</html>